
/*.rpt
/*.msg
/*.summary
/*.sld
/*.sopcinfo
/*.jdi
/c5_pin_model_dump.txt
/*.pin
/*.done
/*.qws
/*.sof
/*.csv
/*.qws
/*.smsg
/*.qdf
**/dse*
**/db
**/incremental_db
**/SoC
**/.qsys_edit
**/reconfig_mif
/*.mif

